@font-face {
  font-family: 'AGBookRounded-Medium';
  src: url('AGBookRounded-Medium.eot');
  src: url('AGBookRounded-Medium.eot?#iefix') format('embedded-opentype'),
       url('AGBookRounded-Medium.svg#AGBookRounded-Medium') format('svg'),
       url('AGBookRounded-Medium.ttf') format('truetype'),
       url('AGBookRounded-Medium.woff') format('woff'),
       url('AGBookRounded-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

