@use "sass:map";
@import "../../assets/variables";

.cnt{
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $c-bg;
    .top{
        width: 100%;
        .title{
          color: transparent;
          background: $c-text-gradient;
          background-clip: text;
          font-size: 5em;
          font-weight: 800;
          line-height: 1.5em;
          text-align: center;
        }
        .desc{
          color: $c-base-light;
          font-weight: 800;
          font-size: 2.5em;
          line-height: 1.5em;
        }
      }
    .what-i-did-list{
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      height: 0em;
      .art{
        position: absolute;
        top: 15vh;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .img-container{
          height: 35em;
          z-index: 20;
          position: relative;
          left: 100vw;
          width: min-content;
          display: flex;
          justify-content: center;
          .art-title-container{
            position: absolute;
            width: min-content;
            height: stretch;
            display: flex;
            justify-content: center;
            .art-title{
              background: $c-text-gradient;
              background-clip: text;
              color: transparent;
              text-transform: uppercase;
              position: relative;
              font-weight: 800;
              font-size: 8em;
              white-space: nowrap;
              letter-spacing: -0.07em;
              width: max-content;
              height: min-content;
              min-width: 100vw;
              text-align: center;
              margin-top: 20%;
              left: -200%;
              //margin-left: -400%;
              line-height: 100%;
              // text-shadow:
              // -2px -2px 0 transparent,  
              //  2px -2px 0 transparent,
              //  -2px 2px 0 transparent,
              //   2px 2px 0 transparent,
              // -1px -1px 0 transparent,  
              //  1px -1px 0 transparent,
              //  -1px 1px 0 transparent,
              //   1px 1px 0 transparent;
              -webkit-text-stroke: 6px;
              display: flex;
              justify-content: center;
            }
          }
          .inside-title-container{
            position: absolute;
            background-position: center;
            background-size: 100%;
            background-clip: text;
            width: 100%;
            height: stretch;
            clip-path: polygon(2% 0%, 98% 2%, 100% 100%, 0% 96%);
            display: flex;
            justify-content: center;
            .inside-stretcher{
              width: min-content;
            }
            .inside-title{
              color: transparent;
              text-transform: uppercase;
              font-weight: 800;
              font-size: 8em;
              white-space: nowrap;
              letter-spacing: -0.07em;
              text-align: center;
              margin-left: -200%;
              width: max-content;
              display: flex;
              justify-content: center;
              line-height: 100%;
              min-width: 100vw;
              margin-top: 20%;
            }
          }
          img{
            height: 100%;
            clip-path: polygon(2% 0%, 98% 2%, 100% 100%, 0% 96%);
            left: 100vw;
          }
        }
        .art-desc{
          font-size: 2em;
          font-weight: 800;
          padding: 2em;
          color: $c-base-light;
        }
        .desc-cnt{
          background: $c-base-dark;
          position: absolute;
          bottom: 3em;
          right: 20%;
          padding: 0em 2em;
          clip-path:polygon(10% 10%, 100% 0, 90% 100%, 0% 95%);
          text-align: center;
          mat-chip-list mat-chip{
            font-size: 0.6em;
            margin: 2em 1em;
          }
        }
      }
    }
      button{
        color: $c-bg;
        font-weight: 800;
        background: transparent;
        width: 18rem;
        height: 6rem;
        padding: 0;
        display: block;
        position: relative;
        transition: transform 0.2s ease;
        *{
          font-size: 1.2rem;
        }
        &:hover{
          transform: scale(1.1);
          opacity: 1;
          .button-text{
            &:before{
              transform: rotate(-5deg);
            }
          }
        }
        .button-text{
          margin: 0;
          padding: 0;
          .main{
            // clip-path:polygon(15% 15%, 95% 7%, 85% 95%, 5% 90%);
            clip-path: url(#buttonBg1);
            background: $c-button-gradient;
            width: 18rem;
            line-height: 6rem;
            position: absolute;
            top: 0%;
            left: 0;
            font-size: 1.3em;
            transition: clip-path 0.2s ease;
          }
          &:before{
            content: "";
            // clip-path: polygon(7% 25%, 85% 0%, 92% 90%, 12% 100%);
            clip-path: url(#buttonBg2);
            background: $c-button-gradient-inverted;
            position: absolute;
            top: -7%;
            left: 0;
            width: 18rem;
            height: 7rem;
            transition: transform 0.2s ease;
          }
        }
      }

  }

  // Mobile Portrait
  @media screen and (min-width: map.get($mobileP, "min")) and (max-width: map.get($mobileP, "max")){

    .cnt{
      .top{
        .title{
          font-size: 3.8em;
        }
      }
      .what-i-did-list{
        .art{
          .img-container{
            .art-title-container{
              .art-title{
                font-size: 6em;
                width: 100vw;
                white-space: pre-wrap;
                text-align: left;
                margin-top: 52%;
                -webkit-text-stroke: 4px !important;
              }
            }
            .inside-title-container{
              .inside-stretcher{
                .inside-title{
                  font-size: 6em;
                  width: 100vw;
                  white-space: pre-wrap;
                  text-align: left;
                  margin-top: 52%;
                }
              }
            }
          }
        }
      }
      button{
        width: 90% !important;
        height: auto !important;
        margin: 1em;
        margin-bottom: 5em;
        .button-text{
          .main{
            clip-path: none !important;
            border-radius: 3rem;
            width: 100% !important;
            line-height: 4.5rem !important;
          }
          &:before{
            clip-path: none !important;
            border-radius: 3rem;
            width: 100% !important;
            line-height: 4.5rem !important;
            top: 3px !important;
            left: 3px !important;
            height: 4.5rem !important;
          }
        }
      }
    }

  }