<svg height="0" width="0" viewBox="0 0 645.44 601.53">
    <defs>
      <clipPath id="skillBgPath">
        <path transform="scale(0.247)" class="skillBgPath" d="M0,201.47c-1.1,96.24,108.8,177.15,108.8,177.15L193.68,439l115.06,85.44L352,556.34S449.44,637.8,532,582,644.82,232.23,644.82,232.23s7.83-111.89-32-160S550.36,14.18,494,2,214.16,36.85,214.16,36.85,1.52,69.18,0,201.47Z" />
      </clipPath>
      <clipPath id="buttonBg1">
        <path transform="scale(1.14)" class="buttonBg1" d="M1,66.07s-4.81,12.75,7.09,13,205.5,4.53,205.5,4.53,13,2,15-8.79,23-66,23-66S253.23-.54,240.48,0,36.11,7.11,36.11,7.11,25.06,8,20,18.17Z" />
      </clipPath>
      <clipPath id="buttonBg2">
        <path transform="scale(1.14)" class="buttonBg2" d="M.12,31.81s-1.7-9.64,7.65-10.2S209.87.06,209.87.06s12.19-1.41,14.46,9.07,15.59,64.63,15.59,64.63S244.73,84,231.7,85.1,23.93,93.88,23.93,93.88,11.18,95.59,9.47,82.55.12,31.81.12,31.81Z" />
      </clipPath>
    </defs>
  </svg>
  <div class="top">
    <div class="title" #skillsTitle><p>Get my CV</p></div>
    <div class="desc" #skillsText><p>Available in colour or black and white for printing</p></div>
    <div class="download-buttons">
        <button>
            <div class="button-text">
                <div class="main">
                    <i class="material-icons">picture_as_pdf</i>&nbsp;
                    <div class="right">
                        <div class="top">Colour</div>
                        <div class="bottom">For web and email</div>
                    </div>
                </div>
            </div>
        </button>
        <button class="grayscale">
            <div class="button-text">
                <div class="main">
                    <i class="material-icons">picture_as_pdf</i>&nbsp;
                    <div class="right">
                        <div class="top">Greyscale</div>
                        <div class="bottom">For printing</div>
                    </div>
                </div>
            </div>
        </button>
    </div>
</div>
<div id="cv-container">
    <div id="cv">
        <div class="top">
            <img class="background" src="assets/cv/cv-bg-top.svg" alt="bg" />
            <div class="name">
                <img class="title" src="assets/cv/jacob-janisz.svg" alt="Jakub Janisz" />
                <div class="desc">&nbsp;Full-stack Web Developer</div>
            </div>
            <div class="contacts">
                <div class="contact">
                    +44 7898 345811 <i class="material-icons">phone</i>
                </div>
                <div class="contact">
                    jacob@jojko.tech <i class="material-icons">email</i>
                </div>
                <div class="contact">
                    linkedin.com/in/jojko <i class="in">in</i>
                </div>
                <div class="contact">
                    jojko.tech <i class="material-icons">public</i>
                </div>
            </div>
        </div>
        <div class="mid">
            <div class="left">
                <div class="cv-section">
                    <div class="title">About me</div>
                    <div class="content about-me">I am a fast-learning person that is persistent in reaching the goals. Hence, I am ready to learn skills that I don't know yet as well as improve the ones I already know. I have an outstanding sense of aesthetics and I focus on every detail. I am also very patient, and I am always looking for common ground with person that I talk with. I am always trying to improve things that I do in order to do the job more efficiently as well as making it more organized.</div>
                </div>
                <div class="cv-section">
                    <div class="title">Education</div>
                    <div class="content">
                        <div class="job">
                            <div class="dates">
                                <div class="date">
                                    <div class="month">Sep</div>
                                    <div class="year">2016</div>
                                </div>
                                <div class="date">
                                    <div class="month">Jun</div>
                                    <div class="year">2020</div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="point"></div>
                                <div class="line"></div>
                                <div class="point"></div>
                            </div>
                            <div class="details">
                                <div class="header">
                                    <div class="info">
                                        <div class="job-title">University of Liverpool</div>
                                        <div class="company">Computer Science (MEng)</div>
                                        <div class="length"><i class="material-icons">school</i>&nbsp;Masters of Engineering</div>
                                    </div>
                                    <img src="assets/cv/uol.svg" alt="company-logo" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cv-section">
                    <div class="title">Top skills</div>
                    <div class="content">
                        <div class="top-skills">
                            <div class="top-skill">
                                <img src="assets/cv/angular.svg" alt="Angular" />
                                Angular
                            </div>
                            <div class="top-skill">
                                <img src="assets/cv/node.svg" alt="Node.js" />
                                Node.js
                            </div>
                            <div class="top-skill">
                                <img src="assets/cv/php.svg" alt="Angular" />
                                PHP
                            </div>
                        </div>
                        <div class="skills">
                            <div class="skill">HTML5</div>
                            <div class="skill">CSS3</div>
                            <div class="skill">Git</div>
                            <div class="skill">Photoshop</div>
                            <div class="skill">Illustrator</div>
                            <div class="skill">JQuery</div>
                            <div class="skill">pixiJS</div>
                            <div class="skill">REST API</div>
                            <div class="skill">MySQL</div>
                            <div class="skill">JSON</div>
                            <div class="skill">Java</div>
                            <div class="skill">C/C++</div>
                            <div class="skill">Python</div>
                            <div class="skill">Microsoft Office</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="cv-section">
                    <div class="title">Experience</div>
                    <div class="content">
                        <div class="job">
                            <div class="dates">
                                <div class="date">
                                    <div class="month">Oct</div>
                                    <div class="year">2015</div>
                                </div>
                                <div class="date">
                                    <div class="month">Dec</div>
                                    <div class="year">2015</div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="point"></div>
                                <div class="line"></div>
                                <div class="point"></div>
                            </div>
                            <div class="details">
                                <div class="header">
                                    <div class="info">
                                        <div class="job-title">Web Developer</div>
                                        <div class="company">Fatigue Management International</div>
                                        <div class="length"><i class="material-icons">schedule</i>&nbsp;3 months</div>
                                    </div>
                                    <img src="assets/cv/fmi.png" alt="company-logo" />
                                </div>
                                <div class="description">
                                    <ul>
                                        <li>Creating a website design with Photoshop and Illustrator</li>
                                        <li>Implementing and deploying the website using JQuery, HTML5, CSS3, LESS, PHP</li>
                                        <li>Testing and mantaining the website</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="job">
                            <div class="dates">
                                <div class="date">
                                    <div class="month">Sep</div>
                                    <div class="year">2016</div>
                                </div>
                                <div class="date">
                                    <div class="month">Jun</div>
                                    <div class="year">2020</div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="point"></div>
                                <div class="line"></div>
                                <div class="point"></div>
                            </div>
                            <div class="details">
                                <div class="header">
                                    <div class="info">
                                        <div class="job-title">Barista (Student staff)</div>
                                        <div class="company">Starbucks</div>
                                        <div class="length"><i class="material-icons">schedule</i>&nbsp;3 years & 10 months</div>
                                    </div>
                                    <img src="assets/cv/starbucks.svg" alt="company-logo" />
                                </div>
                                <div class="description">
                                <ul>
                                    <li>Handcrafting espresso-based hot and cold beverages</li>
                                    <li>Crafting Latte Art</li>
                                    <li>Ensuring that every cup of coffee is perfect,
                                        delivered in a great manner and never
                                        letting the customer to be left disappointed</li>
                                    <li>Taking care of customers’ needs, making
                                        customers feel secure</li>
                                    <li>Taking orders from customers on the till</li>
                                    <li>Maintaining proper stock rotation</li>
                                    <li>Upselling products by personalizing the
                                        offer according to the customer</li>
                                    <li>Maintaining cleanliness of the shop
                                        according to QASA standards</li>
                                </ul>
                                </div>
                            </div>
                        </div>
                        <div class="note">
                            Additionally, since 2011 I am a freelance web developer and web designer. I have made many projects, including the website of my secondary school and college. I managed a team of three students in order to complete the website. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>