<section id="start"></section>
<div class="background" #hiBackground></div>
<section id="hi" #hi>
    <div id="left-nav" #leftNav>
      <svg class="logo-top">       
        <image xlink:href="../assets/logo.svg" />    
      </svg>
      <div class="scroll-mouse" #scrollMouseSvg>
        <svg class="rect"><image xlink:href="../assets/scroll-mouse.svg/rect.svg" /></svg>
        <div class="line"></div>
        <svg class="arrow-down"><image xlink:href="../assets/scroll-mouse.svg/arrow-down.svg" /></svg>
      </div>
      <div class="socials" #leftNavSocials>
        <div class="social" matTooltip="jjk.io" matTooltipClass="contact-tooltip" matTooltipPosition="after">
            <img src="../assets/fb.png" alt="" class="layer1" />
        </div>
        <div class="social" matTooltip="in/jojko" matTooltipClass="contact-tooltip" matTooltipPosition="after">
            <img src="../assets/in.png" alt="" class="layer1" />
        </div>
        <div class="social" matTooltip="jojk0" matTooltipClass="contact-tooltip" matTooltipPosition="after">
            <img src="../assets/ig.png" alt="" class="layer1" />
        </div>
        <div class="social" matTooltip="jojk0" matTooltipClass="contact-tooltip" matTooltipPosition="after">
            <img src="../assets/gh.png" alt="" class="layer1" />
        </div>
    </div>
    </div>
    <div class="cnt">
      <div class="logo-skeleton" #logoSkeleton></div>
      <div class="logo" [ngStyle]="{'left': logoPos+'px', 'height': logoHeight+'px'}" #logoAnimated id="logo-animated">
        <div class="cnt">
          <div class="mainRect">
            <div class="rect" [ngStyle]="{ 'height': logoHeight+'px'}"></div>
            <div class="round"></div>
          </div>
          <div class="mainJUpper"></div>
          <svg class="mainJLower" viewBox="0 0 86.67 103.43">
            <defs>
              <style>
                .cls-1{fill:none;stroke:#cffdfc;stroke-linecap:round;stroke-miterlimit:10;stroke-width:24px;}
              </style>
            </defs>
            <path class="cls-1" d="M12,59.14C12.05,61,12.74,77.28,25.44,86a32.79,32.79,0,0,0,15.31,5.33,31.34,31.34,0,0,0,13-1.7A30.84,30.84,0,0,0,63.48,84a32.8,32.8,0,0,0,9.08-13.47,36.15,36.15,0,0,0,2.09-12.9c0-11,.08-26.51-.06-45.67" />
          </svg>
          <div class="secondaryRect"></div>
          <div class="secondaryPoint"></div>
          <svg class="secondaryCircle" viewBox="0 0 66.2 66.2">
            <defs>
              <style>
                .svgCircle{fill:none;stroke:#cffdfc;stroke-linecap:round;stroke-linejoin:round;stroke-width:6px;opacity:0.33;isolation:isolate;}
              </style>
            </defs>
            <circle id="Circle" class="svgCircle" cx="33.1" cy="33.1" r="30.1" />
          </svg>
        </div>
      </div>
      <div class="intro" #intro>Hey! I’m {{ currentNameVal }}<span class="head" #head>|</span></div>
      <div class="desc" #introDesc><p>a full-stack developer</p><p>and web designer.</p></div>
    </div>
</section>