<section id="start"></section>
<section id="hi" #hi>
    <div id="left-nav">
      <svg class="logo-top">       
        <image xlink:href="../assets/logo.svg" />    
      </svg>
      <svg class="scroll-mouse" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 120.9 1183.7" style="enable-background:new 0 0 120.9 1183.7;" xml:space="preserve" #scrollMouseSvg>       
        <style type="text/css">
          .st0{fill:none;stroke:#C5FFFE;stroke-width:12;stroke-miterlimit:10;}
          .st1{fill:#C5FFFE;stroke:#C5FFFE;stroke-width:3;stroke-miterlimit:10;}
          .st2{fill:none;stroke:#C5FFFE;stroke-width:12;stroke-linecap:round;stroke-linejoin:round; opacity: 0;}
          
            .st3{opacity:0;fill:none;stroke:#C5FFFE;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;enable-background:new    ;}
        </style>
        <g id="scroll">
          <g id="rect">
            <path class="st0" d="M60.5,6L60.5,6C90.6,6,115,30.4,115,60.5v96.7c0,30.1-24.4,54.5-54.5,54.5l0,0C30.4,211.6,6,187.2,6,157.2
              V60.5C6,30.4,30.4,6,60.5,6z"/>
            <path class="st1" d="M60.9,32.6L60.9,32.6c2.8,0,5.1,2.3,5.1,5.1v20.7c0,2.8-2.3,5.1-5.1,5.1l0,0c-2.8,0-5.1-2.3-5.1-5.1V37.7
              C55.8,34.9,58.1,32.6,60.9,32.6z"/>
          </g>
          <g id="arrow-down">
            <line class="st2" x1="92.3" y1="1146.3" x2="60.9" y2="1177.7"/>
            <line class="st2" x1="28.8" y1="1146.3" x2="60.1" y2="1177.7"/>
          </g>
          <g id="line">
            <line class="st3" x1="60.9" y1="293.2" x2="60.9" y2="1060.6"/>
          </g>
        </g>
      </svg>
      <div class="socials">
        <div class="social" matTooltip="jjk.io" matTooltipClass="contact-tooltip" matTooltipPosition="after">
            <img src="../assets/fb.png" alt="" class="layer1" />
        </div>
        <div class="social" matTooltip="in/jojko" matTooltipClass="contact-tooltip" matTooltipPosition="after">
            <img src="../assets/in.png" alt="" class="layer1" />
        </div>
        <div class="social" matTooltip="jojk0" matTooltipClass="contact-tooltip" matTooltipPosition="after">
            <img src="../assets/ig.png" alt="" class="layer1" />
        </div>
        <div class="social" matTooltip="jojk0" matTooltipClass="contact-tooltip" matTooltipPosition="after">
            <img src="../assets/gh.png" alt="" class="layer1" />
        </div>
    </div>
    </div>
    <div class="cnt">
      <svg class="logo">       
        <image xlink:href="../assets/logo-raw.svg" />    
      </svg>
      <div class="intro">Hey! I’m Jacob.</div>
      <div class="desc"><p>a full-stack developer</p><p>and web designer.</p></div>
    </div>
</section>