@use "sass:map";
@import "../../assets/variables";

.main-container{
    display: flex;
    justify-content: space-between;
    opacity: 0;
}
.left-panel{
    flex-grow: 2;
    width: 100%;
    .left-title{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 5em;
        white-space: nowrap;
        letter-spacing: -0.07em;
        text-align: center;
        position: absolute;
        top: 0.5em;
        right: 1em;
        color: $c-bg;
        .border{
            color: transparent;
            background: white;
            background-clip: text;
            font-size: inherit;
            line-height: 100%;
            -webkit-text-stroke: 6px;
        }
        .fill{
            font-size: inherit;
            position: absolute;
            top: 0;
            left: 0;
            line-height: 100%;
        }
    }
    
}
.right-panel{
    background: $c-base-dark;
    color: $c-bg;
    padding: 1em;
    flex-grow: 1;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    height: 100vh;
    width: 50%;
    padding-left: 7em;
    .dialog-close{
        position: absolute;
        top: 1em;
        right: 1em;
        transform: scale(1.5);
    }
    .title{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 5em;
        white-space: nowrap;
        letter-spacing: -0.07em;
        text-align: center;
        text-shadow:
        -2px -2px 0 $c-bg,  
         2px -2px 0 $c-bg,
         -2px 2px 0 $c-bg,
          2px 2px 0 $c-bg,
        -1px -1px 0 $c-bg,  
         1px -1px 0 $c-bg,
         -1px 1px 0 $c-bg,
          1px 1px 0 $c-bg;
          position: absolute;
          top: 0.5em;
          right: 1em;
          color: $c-base-dark;
          line-height: 100%;
    }
}
.content{
    position: absolute;
    top: 10em;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: stretch;
    max-height: 80vh;
    .left{
        width: 100%;
        .box-viewer{
            .main-viewer{
                width: 100%;
                swiper{
                    display: none;
                }
                img{
                    max-width: calc(100vw - 30em);
                    margin: 0 2em;
                    max-height: 80vh;
                    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.2);
                }
            }
            .other-photos{
                width: calc(100vw - 26em);
                position: absolute;
                bottom: 1em;
                left: 0em;
                display: flex;
                justify-content: center;
                img{
                    width: 15%;
                    margin: 1em;
                    box-sizing: content-box;
                    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.2);
                    transition: all 0.2s ease;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.2);
                    }
                    &.active{
                        opacity: 0.5;
                        transform: scale(0.8);
                    }
                }
            }
        }
    }
    .right{
        color: $c-bg;
        width: 26em;
        .seperator{
            display: none;
        }
        .details{
            width: 25em;
            padding-right: 1em;
            .main-title{
                display: none;
            }
            .dialog-close.m{
                display: none;
            }
            .main-desc{
                line-height: 150%;
            }
            .typography{
                .title{
                    font-weight: 800;
                    padding: 1em 0;
                    font-size: 1.5em;
                }
                .font{
                    font-size: 1em;
                    padding: 0.5em 0;
                    img{
                        height: 2em;
                    }
                }
            }
            .color-palette{
                .title{
                    font-weight: 800;
                    line-height: 200%;
                    font-size: 1.5em;
                }
                .palette-container{
                    display: flex;
                    flex-wrap: nowrap;
                    padding: 1em 0;
                    .palette{
                        border-radius: 100%;
                        width: 5em;
                        height: 5em;
                        border: 1px solid transparentize($c-bg, $amount: 0.5);
                        margin: -0.5em;
                        transition: transform 0.2s ease;
                        .colour-name{
                            display: flex;
                            transition: opacity 0.15s ease;
                            opacity: 0;
                            width: inherit;
                            height: inherit;
                            background: inherit;
                            color: transparent;
                            background-clip: text;
                            filter: invert(1) grayscale(1) contrast(3.5);
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            .code{
                                font-size: 0.7em;
                                font-weight: 800;
                                line-height: 120%;
                            }
                            .name{
                                font-size: 0.6em;
                                padding: 0 1em;
                                line-height: 100%;
                            }
                        }
                        &:hover{
                            transform: scale(1.5);
                            .colour-name{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .date{
                padding: 1em 0;
                .title{
                    font-weight: 800;
                    font-size: 1.5em;
                    line-height: 140%;
                }
                .desc{
                    font-size: 1.2em;
                }
            }
            .skills-keywords{
                padding: 1em 0;
                mat-chip-list mat-chip{
                    border: 1px solid $c-bg;
                    color: $c-bg;
                    font-weight: 600;
                    background: transparent;
                }
            }
            .links{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                flex-direction: row;
                padding: 1em 0;
                a{
                    display: block;
                    margin-right: 1em;
                }
                button{
                    border-radius: 2em;
                    font-family: inherit;
                    display: flex;
                    height: 3em;
                    margin: 0.5em 0;
                    background: $c-base-light;
                    color: $c-bg;
                    text-transform: uppercase;
                    font-weight: 800;
                    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.07);
                    text-align: left;
                    width: 100%;
                    transition: transform 0.2s ease;
                    &:hover{
                        transform: scale(1.2);
                    }
                    img{
                        height: 1.5em;
                        margin-right: 1ch;
                    }
                    i.primary{
                        background: $c-bg;
                        display: block;
                        border-radius: 100%;
                        border-bottom-right-radius: 75%;
                        border-top-left-radius: 65%;
                        padding: 0.5em;
                        color: $c-text;
                        transform: scale(1.3) translateX(-0.5em);
                    }
                    i.secondary{
                        transform: translateX(-0.2em);
                    }
                }
            }
        }
    }
}

// Mobile Portrait
@media screen and (min-width: map.get($mobileP, "min")) and (max-width: map.get($mobileP, "max")){
    
    .main-container{
        opacity: 1;
        .left-panel{
            display: none;
        }
        .right-panel{
            display: none;
        }
        .content{
            position: relative;
            top: 0;
            left: 0;
            height: 100vh;
            font-size: 1.2em;
            overflow-y: auto;
            display: block;
            max-height: none;
            .left{
                position: fixed;
                top: 0;
                left: 0;
                flex-grow: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100vw;
                .box-viewer{
                    .main-viewer{
                        swiper{
                            display: initial;
                        }
                        .image-container{
                            display: none;
                        }
                        .swiper-pagination{
                            position: fixed;
                            bottom: 12vh !important;
                        }
                        img{
                            padding: 0;
                            max-width: 100vw;
                        }
                    }
                    .other-photos{
                        display: none;
                    }
                }
            }
            .right{
                background: $c-base-dark;
                box-shadow: 0px -3px 20px 0px rgba(0, 0, 0, 0.37);
                border-top-left-radius: 2em;
                border-top-right-radius: 2em;
                padding: 2em;
                position: relative;
                margin-top: 18em;
                flex-grow: 1;
                width: auto;
                .seperator{
                    width: 10%;
                    height: 0.5rem;
                    border-radius: 0.3em;
                    background: rgba(0,0,0,0.1);
                    margin: auto;
                    margin-top: -1em;
                    margin-bottom: 0.5rem;
                    display: block;
                }
                .details{
                    width: 100%;
                    margin-left: 0;
                    .top{
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row-reverse;
                        .dialog-close.m{
                            display: block;
                            top: 0;
                            right: 0;
                            transform: scale(1.2);
                            position: relative;
                            right: -1em;
                            top: -0.5em;
                        }
                        .main-title{
                            font-size: 3em;
                            font-weight: 800;
                            line-height: 110%;
                            padding-bottom: 0.5em;
                            display: block;
                        }
                    }
                    .main-desc{
                        font-size: 1.5em;
                    }
                    .color-palette{
                        .palette-container{
                            .palette{
                                width: 7em;
                                height: 7em;
                                .colour-name{
                                    .code{
                                        font-size: 0.9em;
                                    }
                                    .name{
                                        font-size: 0.8em;
                                    }
                                }
                            }
                        }
                    }
                    .typography{
                        .font{
                            img{
                                height: 3.5em;
                            }
                        }
                    }
                    .date{
                        padding: 1.5em 0;
                        .title{
                            font-weight: 800;
                            font-size: 1.5em;
                        }
                        .desc{
                            font-size: 1.5em;
                        }
                    }
                    .links{
                        flex-direction: column;
                        justify-content: space-between;
                        a{
                            margin-right: 0;
                            button{
                                img{
                                    height: 2em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}