@import "../../assets/variables";

.main-container{
    display: flex;
    justify-content: space-between;
}
.left-panel{
    flex-grow: 2;
    width: 100%;
    .left-title{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 5em;
        white-space: nowrap;
        letter-spacing: -0.07em;
        text-align: center;
        text-shadow:
        -2px -2px 0 $c-base-dark,  
         2px -2px 0 $c-base-dark,
         -2px 2px 0 $c-base-dark,
          2px 2px 0 $c-base-dark,
        -1px -1px 0 $c-base-dark,  
         1px -1px 0 $c-base-dark,
         -1px 1px 0 $c-base-dark,
          1px 1px 0 $c-base-dark;
          position: absolute;
          top: 1em;
          right: 1em;
          color: $c-bg;
    }
    
}
.right-panel{
    background: $c-base-dark;
    color: $c-bg;
    padding: 1em;
    flex-grow: 1;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    height: 100vh;
    width: 50%;
    .dialog-close{
        position: absolute;
        top: 1em;
        right: 1em;
        transform: scale(1.5);
    }
    .title{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 5em;
        white-space: nowrap;
        letter-spacing: -0.07em;
        text-align: center;
        text-shadow:
        -2px -2px 0 $c-bg,  
         2px -2px 0 $c-bg,
         -2px 2px 0 $c-bg,
          2px 2px 0 $c-bg,
        -1px -1px 0 $c-bg,  
         1px -1px 0 $c-bg,
         -1px 1px 0 $c-bg,
          1px 1px 0 $c-bg;
          position: absolute;
          top: 1em;
          right: 1em;
          color: $c-base-dark;
    }
}
.content{
    position: absolute;
    top: 10em;
    left: 0;
    width: 100vw;
    display: flex;
    .left{
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .box-viewer{
            .main-viewer{
                width: 100%;
                img{
                    max-width: 100%;
                    padding: 0 2em;
                    max-height: 70vh;
                }
            }
            .other-photos{
                width: 100%;
                position: absolute;
                bottom: -5em;
                left: 2em;
                img{
                    width: 15%;
                    padding: 1em;
                    box-sizing: content-box;
                }
            }
        }
    }
    .right{
        color: $c-bg;
        .details{
            width: 20em;
            padding-right: 1em;
            .main-desc{
                line-height: 150%;
            }
            .typography{
                .title{
                    font-weight: 800;
                    padding: 1em 0;
                    font-size: 1.5em;
                }
                .font{
                    font-size: 2em;
                    padding: 0.5em 0;
                }
            }
            .color-palette{
                .title{
                    font-weight: 800;
                    line-height: 200%;
                    font-size: 1.5em;
                }
                .palette-container{
                    display: flex;
                    flex-wrap: nowrap;
                    padding: 1em 0;
                    .palette{
                        border-radius: 100%;
                        width: 5em;
                        height: 5em;
                        border: 1px solid transparentize($c-bg, $amount: 0.5);
                        margin: -0.5em;
                    }
                }
            }
            .skills-keywords{
                padding-top: 1em;
                mat-chip-list mat-chip{
                    border: 1px solid $c-bg;
                    color: $c-bg;
                    font-weight: 600;
                    background: transparent;
                }
            }
        }
    }
}