<div class="progressbar" id="progressbar" #progressbar [ngStyle]="{'height': progressbarHeight+'vh'}"></div>
<div class="menu-container">
  <svg class="hamburger-menu">       
    <image xlink:href="../assets/menu.svg" />    
  </svg>
  <nav>
    <div class="menu-item" [routerLink]="['/']"></div>
    <div class="menu-item" [routerLink]="['/']" fragment="what-i-do"></div>
    <div class="menu-item" [routerLink]="['/']" fragment="what-i-did"></div>
    <div class="menu-item" [routerLink]="['/']" fragment="get-in-touch"></div>
  </nav>
</div>
