@import "../../assets/variables";

#logo{
  width: 2em;
  margin: 0.5em 1em;
}
.progressbar{
  background: $c-accent2;
  background-blend-mode: screen;
  height: 5px;
  width: 40%;
  margin-bottom: 1em;
  position: absolute;
  transition: all 0.2s ease;
  border-bottom-right-radius: 10px;
  z-index: 9;
  &:before{
    content: "";
    background: $c-accent3;
    background-blend-mode: screen;
    height: 3px;
    width: 99%;
    display: block;
    border-bottom-right-radius: 10px;
    position: absolute;
    z-index: 10;
  }
  &:after{
    content: "";
    background: $c-accent1;
    background-blend-mode: screen;
    height: 4px;
    width: 99.5%;
    display: block;
    border-bottom-right-radius: 10px;
    position: absolute;
    z-index: 8;
  }
}
.menu-container{
  display: flex;
  justify-content: space-between;
  z-index: 1;
  margin-top: 5px;
  nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    .menu-item{
      transition: all 0.4s ease;
      display: flex;
      position: relative;
      height: 3.5em;
      //text-transform: uppercase;
      font-weight: 800;
      font-size: 0.8em;
      border-left: 1px solid rgba($c-base-light, 0.3);
      &:hover{
        &:before{
          content: '';
          display: block;
          border-top: 1px solid $c-base-light;
          border-left: 1px solid $c-base-light;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:after{
          content: '';
          display: block;
          border-top: 1px solid $c-base-light;
          border-right: 1px solid $c-base-light;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 0;
          right: 0;
        }
        a{
          color: $c-text;
          &:before{
            content: '';
            display: block;
            border-bottom: 1px solid $c-base-light;
            border-left: 1px solid $c-base-light;
            width: 10px;
            height: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          &:after{
            content: '';
            display: block;
            border-bottom: 1px solid $c-base-light;
            border-right: 1px solid $c-base-light;
            width: 10px;
            height: 10px;
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }
      &:before{
        content: '';
        transition: all 0.3s ease;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:after{
        content: '';
        transition: all 0.3s ease;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: 0;
      }
      &:last-of-type{
        margin-right: 2em;
      }
      a{
        font-size: 1.2em;
        color: $c-base-light;
        margin: 1em;
        display: flex;
        transition: all 0.4s ease;
        &:before{
          content: '';
          transition: all 0.3s ease;
          border-bottom: 1px solid transparent;
          border-left: 1px solid transparent;
          width: 0;
          height: 0;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        &:after{
          content: '';
          transition: all 0.3s ease;
          border-bottom: 1px solid transparent;
          border-right: 1px solid transparent;
          width: 0;
          height: 0;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}
