@use "sass:map";
@import "../../assets/variables";

svg.logo-top-floating{
  width: 3em;
  height: 3em;
  margin: 1rem;
  position: absolute;
  top: 0;
  left: 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover{
    transform: scale(0.8);
  }
  image{
    width: 3em;
    height: 3em;
  }
}
#logo{
  width: 2em;
  margin: 0.5em 1em;
  display: none;
}
.progressbar{
  background: $c-base-dark;
  background-blend-mode: screen;
  height: 5px;
  width: 5px;
  margin-bottom: 1em;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s ease;
  border-bottom-left-radius: 10px;
  z-index: 9;
  // &:before{
  //   content: "";
  //   background: $c-accent3;
  //   background-blend-mode: screen;
  //   height: 100%;
  //   width: 3px;
  //   display: block;
  //   border-bottom-right-radius: 10px;
  //   position: absolute;
  //   z-index: 10;
  // }
  // &:after{
  //   content: "";
  //   background: $c-accent1;
  //   background-blend-mode: screen;
  //   height: 4px;
  //   width: 100%;
  //   display: block;
  //   border-bottom-right-radius: 10px;
  //   position: absolute;
  //   z-index: 8;
  // }
}
.backdrop{
  background: transparent;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  &.opened{
    display: block;
  }
}
.menu-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  margin-top: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  svg.hamburger-menu{
    height: 2rem;
    width: 2.5rem;
    margin: 1.5em;
    image{
      height: 2rem;
    }
    &:hover{
      filter: brightness(0) saturate(100%) invert(88%) sepia(9%) saturate(1765%) hue-rotate(107deg) brightness(96%) contrast(87%);
    }
  }
  .bullets{
    .bullet-cnt{
      cursor: pointer;
      position: relative;
      overflow: hidden;
      .bullet{
        //margin: 0.5em;
        //padding: 1px;
        padding: 0.5em;
        width: 1rem;
        border: 3px solid transparent;
        box-sizing: content-box;
        text-align: center;
        font-weight: 800;
        font-size: 1.5em;
        transition: all 0.2s ease;
        &.active{
          //border: 3px solid rgba(255,255,255,0.33);
          &:before{
            content: '';
            width: 1rem;
            height: 1rem;
            border: 3px solid rgba(255,255,255,0.33);
            position: absolute;
            border-radius: 100%;
            margin-left: -0.29em;
            margin-top: -0.1em;
          }
        }
        line-height: 1rem;
        &:before{
            content: '';
            width: 1rem;
            height: 1rem;
            border: 3px solid transparent;
            position: absolute;
            border-radius: 100%;
            margin-left: -0.29em;
            margin-top: -0.1em;
            transition: border 0.4s ease;
        }
    }
      .tooltip{
        position: absolute;
        top: 0.2em;
        right: 3em;
        opacity: 0;
        background: $c-text;
        border-radius: 2em;
        padding: 0.5em 1em;
        color: $c-bg;
        font-weight: 800;
        font-size: 1.2em;
        width: max-content;
        transition: all 0.2s ease;
        &.show{
          display: block;
        }
        &.opened{
          opacity: 1;
        }
      }
      &:hover{
        overflow: initial;
        .bullet{
          transform: scale(1.5);
        }
        .tooltip{
          opacity: 1;
        }
      }
    }
  }
  nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    .menu-item{
      transition: all 0.4s ease;
      display: flex;
      position: relative;
      height: 3.5em;
      //text-transform: uppercase;
      font-weight: 800;
      font-size: 0.8em;
      //border-left: 1px solid rgba($c-base-light, 0.3);
      &:hover{
        &:before{
          content: '';
          display: block;
          border-top: 1px solid $c-base-light;
          border-left: 1px solid $c-base-light;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:after{
          content: '';
          display: block;
          border-top: 1px solid $c-base-light;
          border-right: 1px solid $c-base-light;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 0;
          right: 0;
        }
        a{
          color: $c-text;
          &:before{
            content: '';
            display: block;
            border-bottom: 1px solid $c-base-light;
            border-left: 1px solid $c-base-light;
            width: 10px;
            height: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          &:after{
            content: '';
            display: block;
            border-bottom: 1px solid $c-base-light;
            border-right: 1px solid $c-base-light;
            width: 10px;
            height: 10px;
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }
      &:before{
        content: '';
        transition: all 0.3s ease;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:after{
        content: '';
        transition: all 0.3s ease;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: 0;
      }
      &:last-of-type{
        margin-right: 2em;
      }
      a{
        font-size: 1.2em;
        color: $c-base-light;
        margin: 1em;
        display: flex;
        transition: all 0.4s ease;
        &:before{
          content: '';
          transition: all 0.3s ease;
          border-bottom: 1px solid transparent;
          border-left: 1px solid transparent;
          width: 0;
          height: 0;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        &:after{
          content: '';
          transition: all 0.3s ease;
          border-bottom: 1px solid transparent;
          border-right: 1px solid transparent;
          width: 0;
          height: 0;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  &.opened{
    .bullets{
      .bullet-cnt{
        overflow: initial;
        .bullet{
          padding: 1em 0.5em;
        }
        .tooltip{
          top: 0.8em;
        }
      }
    }
  }
}
.animating-line{
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 1em;
  background: $c-text;
}

// Mobile portrait
@media screen and (min-width: map.get($mobileP, "min")) and (max-width: map.get($mobileP, "max")) and (orientation: portrait){
  svg.logo-top-floating{
    margin-top: 3em;
    margin-left: 2.5em;
  }
  .menu-container{
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}