@font-face {
  font-family: 'Portico-Outline';
  src: url('Portico-Outline.eot');
  src: url('Portico-Outline.eot?#iefix') format('embedded-opentype'),
       url('Portico-Outline.svg#Portico-Outline') format('svg'),
       url('Portico-Outline.ttf') format('truetype'),
       url('Portico-Outline.woff') format('woff'),
       url('Portico-Outline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

