@import "../../assets/variables";

mat-chip-list mat-chip{
  transform: scale(1.2);
  padding: 1em;
  z-index: 1;
  margin: 2em;
  font-weight: 800;
  background: $c-text;
}
#hi{
  background: url("../../assets/hi-bg4.jpg") no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: 200%;
  background-position: center bottom;
  transition: all 0.1s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 0;
  //transition: all 0.4s ease;
  .jojko{
    position: absolute;
    bottom: 70%;
    right: 27%;
    font-family: 'Londrina Outline';
    font-size: 7em;
    color: mix(#f5a9b7, $c-accent1, 80%);
    text-shadow: 3px 3px 15px $c-base-dark;
    transform: rotate(15deg);
  }
  .cnt{
    padding: 1em;
    width: 50%;
    height: 50vh;
  }
  #me{
    width: 27em;
    align-self: flex-end;
    z-index: 5;
  }
  #logo{
    width: 7em;
    margin-bottom: 3em;
    position: sticky;
    position: -webkit-sticky;
    top: -1em;
    background-attachment: fixed;
  }
  .intro{
    font-size: 2.5em;
    line-height: 150%;
    padding-bottom: 1em;
    text-transform: uppercase;
    span{
      font-size: 2em;
      font-weight: 800;
      &:after{
        content: " ";
      }
    }
  }
  .my-name{
    color: $c-base-dark;
    font-size: 10em;
    line-height: 80%;
    //text-transform: uppercase;
    font-weight: 800;
    font-family: 'Shadows into Light';
    mix-blend-mode: difference;
    span{
      font-size: 1em;
      display: block;
      line-height: 50%;
      font-family: 'Shadows into Light';
      mix-blend-mode: difference;
    }
  }
  .desc{
    font-size: 2em;
    text-transform: uppercase;
    line-height: 110%;
    padding-top: 1em;
    span{
      font-weight: 800;
      font-size: 1em;
    }
  }
  .desc2{
    font-size: 1.5em;
    text-transform: uppercase;
  }
  #scroll-icon{
    width: 5em;
    position: absolute;
    bottom: 2em;
    left: 47%;
  }
}
#what-i-do, #what-i-did{
  margin-top: 100vh;
  padding-top: 3em;
  width: 100vw;
  background: rgb(0,20,39);
  clip-path:polygon(0% 4em, 25% 0em, 50% 2em, 75% 0em, 100% 4em, 100% 100%, 0 100%);
  position: relative;
  .cnt{
    background: $c-bg;
    .title{
      color: $c-base-light;
      text-align: center;
      padding: 1em;
      font-size: 3em;
      font-weight: 800;
    }
    .skills{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 2em;
      .skill{
        position: relative;
        text-align: center;
        &.angular{
          .bg, .bg2, .bg3{
            clip-path:polygon(20% 10%, 90% 30%, 90% 80%, 30% 100%, 10% 30%);
          }
          &:hover{
            img{
              transform: scale(1.1);
            }
            .bg, .bg2, .bg3{
              clip-path:polygon(30% 0, 90% 20%, 90% 90%, 20% 100%, 0 40%);
            }
          }
        }
        &.nodejs{
          .bg, .bg2, .bg3{
            clip-path:polygon(30% 15%, 95% 30%, 75% 100%, 30% 95%, 0 50%);
          }
          &:hover{
            img{
              transform: scale(1.1);
            }
            .bg, .bg2, .bg3{
              clip-path:polygon(35% 10%, 100% 15%, 80% 95%, 15% 100%, 0 65%);
            }
          }
        }
        &.php{
          .bg, .bg2, .bg3{
            clip-path:polygon(10% 25%, 90% 10%, 90% 85%, 40% 95%, 10% 80%);
          }
          &:hover{
            img{
              transform: scale(1.1);
            }
            .bg, .bg2, .bg3{
              clip-path:polygon(5% 20%, 85% 5%, 85% 90%, 45% 100%, 5% 85%);
            }
          }
        }
        .bg{
          background: #00ccbb;
          mix-blend-mode: hard-light;
          transition: all 1s ease;
          position: absolute;
          top: 0;
          left: 10%;
          width: 80%;
          height: 45%;
          z-index: 3;
        }
        .bg2{
          background: $c-accent2;
          mix-blend-mode: screen;
          transition: all 1s ease;
          position: absolute;
          top: 0;
          left: 10%;
          width: 80%;
          height: 45%;
          z-index: 2;
          transform: rotate(-30deg);
        }
        .bg3{
          background: $c-accent1;
          mix-blend-mode: screen;
          transition: all 1s ease;
          position: absolute;
          top: 0;
          left: 10%;
          width: 80%;
          height: 45%;
          z-index: 1;
          transform: rotate(-60deg);
        }
        img{
          width: 6em;
          z-index: 4;
          position: relative;
          margin: 1em;
          transition: all 0.2s ease;
        }
        mat-chip-list mat-chip{
          transform: scale(1.5);
          padding: 1em;
          z-index: 1;
          margin: 4em;
          font-weight: 800;
          background: $c-text;
        }
      }
    }
    .other-skills{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
#what-i-did{
  background: rgb(0,20,39);
  margin-top: 0;
  padding-top: 0;
  height: auto;
  clip-path: none;
  .cnt{
    .what-i-did-list{
      display: flex;
      justify-content: center;
      .art{
        position: relative;
        margin: 2em;
        img{
          width: 30em;
        }
        .desc-cnt{
          background: $c-base-dark;
          position: absolute;
          bottom: -1em;
          right: -1em;
          padding: 0em 2em;
          clip-path:polygon(10% 10%, 100% 0, 90% 100%, 0% 95%);
          text-align: center;
          .art-title{
            color: $c-bg;
            font-weight: 800;
            font-size: 1.2em;
            padding-top: 1em;
          }
          mat-chip-list mat-chip{
            font-size: 0.6em;
            margin: 2em 1em;
          }
        }
      }
    }
  }
}