<router-outlet></router-outlet>
<!-- <div id="my-skills-container" #mySkillsContainer [ngStyle]="mySkillsContainerStyle"><ng-template #mySkills></ng-template></div> -->
<app-section-hi #scrollable id="start"></app-section-hi>
<app-section-skills id="what-i-do" #scrollable></app-section-skills>
<app-section-projects id="what-i-did" #scrollable></app-section-projects>
<app-get-in-touch id="get-in-touch" #scrollable></app-get-in-touch>
<div id="main-skeleton">
    <div id="section-hi-skeleton" [ngStyle]="{ 'height': sectionHeights[0]+'px' }" #skeleton></div>
    <div id="section-skills-skeleton" [ngStyle]="{ 'height': sectionHeights[1]+'px' }" #skeleton></div>
    <div id="section-projects-skeleton" [ngStyle]="{ 'height': sectionHeights[2]+'px' }" #skeleton></div>
    <div id="get-in-touch-skeleton" [ngStyle]="{ 'height': sectionHeights[3]+'px' }" #skeleton></div>
</div>