<router-outlet></router-outlet>
<!-- <div id="my-skills-container" #mySkillsContainer [ngStyle]="mySkillsContainerStyle"><ng-template #mySkills></ng-template></div> -->
<div class="outer-bg" #outerBgMenu><app-section-hi #scrollable id="start" (menuChangePosEmitter)="emitMenuChangePos($event)" [skeletons]="skeletons"></app-section-hi></div>
<app-section-skills id="what-i-do" #scrollable [skeletons]="skeletons"></app-section-skills>
<app-section-projects id="what-i-did" #scrollable (updateSkeleton)="onProjectsLoad($event)" [skeletons]="skeletons"></app-section-projects>
<app-get-in-touch id="get-in-touch" #scrollable [skeletons]="skeletons"></app-get-in-touch>
<div id="main-skeleton">
    <div id="start-skeleton" [ngStyle]="{ 'height': sectionHeights[0]+'px' }" #skeleton></div>
    <div id="what-i-do-skeleton" [ngStyle]="{ 'height': sectionHeights[1]+'px' }" #skeleton></div>
    <div id="what-i-did-skeleton" [ngStyle]="{ 'height': sectionHeights[2]+'px' }" #skeleton></div>
    <div id="get-in-touch-skeleton" [ngStyle]="{ 'height': sectionHeights[3]+'px' }" #skeleton></div>
</div>