@import "../../assets/variables";

app-get-in-touch{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
#what-i-do, #what-i-did, #get-in-touch{
  width: 100vw;
  background: $c-bg;
  //clip-path:polygon(0% 4em, 25% 0em, 50% 2em, 75% 0em, 100% 4em, 100% 100%, 0 100%);
  position: relative;
  opacity: 0;
}
#what-i-did{
  background: $c-bg;
  margin-top: 0;
  padding-top: 0;
  height: auto;
  clip-path: none;
}