<div id="my-skills-background" #mySkillsBackground [ngStyle]="mySkillsPos"></div>
<div id="art-background" #artBackground [ngStyle]="artPos"></div>
<!-- <div id="my-skills-container" #mySkillsContainer [ngStyle]="mySkillsContainerStyle"><ng-template #mySkills></ng-template></div> -->
<app-section-hi></app-section-hi>
<section id="what-i-do" animated>
  <div class="bg-text">Skills</div>
  <div class="cnt">
    <div class="title">What I do?</div>
    <div class="skills">
      <div class="skill angular">
        <img src="../assets/angular.png" />
        <mat-chip-list>
          <mat-chip>Angular9</mat-chip>
        </mat-chip-list>
        <div class="bg"></div>
        <div class="bg2"></div>
        <div class="bg3"></div>
      </div>
      <div class="skill nodejs">
        <img src="../assets/nodejs.png" />
        <mat-chip-list>
          <mat-chip>NodeJS</mat-chip>
        </mat-chip-list>
        <div class="bg"></div>
        <div class="bg2"></div>
        <div class="bg3"></div>
      </div>
      <div class="skill php">
        <img src="../assets/php.png" />
        <mat-chip-list>
          <mat-chip>PHP</mat-chip>
        </mat-chip-list>
        <div class="bg"></div>
        <div class="bg2"></div>
        <div class="bg3"></div>
      </div>
    </div>
    <div class="other-skills">
      <mat-chip-list>
        <mat-chip>HTML5</mat-chip>
        <mat-chip>CSS3</mat-chip>
        <mat-chip>TypeScript</mat-chip>
        <mat-chip>Adobe Photoshop</mat-chip>
        <mat-chip>Git</mat-chip>
        <mat-chip>Java</mat-chip>
        <mat-chip>C++</mat-chip>
        <mat-chip>SQL</mat-chip>
        <mat-chip>SASS</mat-chip>
        <mat-chip>jQuery</mat-chip>
      </mat-chip-list>
      <button mat-flat-button color="primary" #mySkillsButton><div class="button-text" (click)="openMySkills()">See them<span>all!</span></div></button>
    </div>
  </div>
</section>
<section id="what-i-did" animated>
  <div class="bg-text">Portfolio</div>
  <div class="cnt">
    <div class="title">What I've made?</div>
    <div class="what-i-did-list">
      <div class="art" *ngFor="let n of [0,1,2,3,4,5]" (click)="openArt(n)" #art>
        <div class="img-container">
          <div class="inside-title">JJK Portfolio 8.0</div>
          <img src="../assets/arts/1.png" alt="JJK Portfolio" />
        </div>
        <div class="art-title">JJK Portfolio 8.0</div>
        <!-- <div class="desc-cnt">
          <mat-chip-list>
            <mat-chip>Angular9</mat-chip>
            <mat-chip>NodeJS</mat-chip>
            <mat-chip>CSS3</mat-chip>
          </mat-chip-list>
        </div> -->
      </div>
      <div class="hungry">Still hungry? See my less fancy work...</div>
    </div>
  </div>
</section>
<section id="get-in-touch" animated>
  <div class="cnt">
    <div class="title">Get in touch</div>
  </div>
</section>