@import "../../assets/variables";

.top{
  width: 100%;
  padding: 2em;
  .section-title{
    color: transparent;
    background: $c-text-gradient;
    background-clip: text;
    font-size: 5em;
    font-weight: 800;
    line-height: 1.5em;
    text-align: center;
  }
  .desc{
    color: $c-base-light;
    font-weight: 800;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
  }
}
mat-chip{
    color: $c-bg !important;
    font-weight: bold;
    mat-icon{
        color: $c-bg !important;
        opacity: 1 !important;
    }
}
.arts-search{
    width: 30em;
    margin: 1em auto;
    letter-spacing: normal !important;
    background: rgba(0,0,0,0.2);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transform: scale(1.2);
}
.portfolio-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}
.art{
    position: relative;
    margin: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    .img-container{
      width: 25em;
      z-index: 20;
      position: relative;
      display: flex;
      justify-content: center;
      .art-title-container{
        position: absolute;
        width: 100%;
        height: stretch;
        display: flex;
        align-items: flex-end;
        .art-title{
          color: transparent;
          background: $c-text-gradient;
          background-clip: text;
          -webkit-text-stroke: 4px;
          text-transform: uppercase;
          font-weight: 800;
          font-size: 4em;
          white-space: pre-wrap;
          letter-spacing: -0.07em;
          width: max-content;
          height: min-content;
          margin-bottom: -5%;
          margin-left: -5%;
          position: relative;
          line-height: 100%;
        }
      }
      .inside-title-container{
        position: absolute;
        background-position: center;
        background-size: 100%;
        background-clip: text;
        width: 100%;
        height: stretch;
        clip-path: polygon(2% 0%, 98% 2%, 100% 100%, 0% 96%);
        display: flex;
        align-items: flex-end;
        .inside-stretcher{
          width: 100%;
        }
        .inside-title{
          color: transparent;
          text-transform: uppercase;
          font-weight: 800;
          font-size: 4em;
          margin-left: -5%;
          white-space: pre-wrap;
          letter-spacing: -0.07em;
          margin-bottom: -5%;
          display: flex;
          justify-content: center;
          line-height: 100%;
        }
      }
      img{
        width: 100%;
        clip-path: polygon(2% 0%, 98% 2%, 100% 100%, 0% 96%);
      }
    }
    .desc-cnt{
      background: $c-base-dark;
      position: absolute;
      bottom: 3em;
      right: 20%;
      padding: 0em 2em;
      clip-path:polygon(10% 10%, 100% 0, 90% 100%, 0% 95%);
      text-align: center;
      mat-chip-list mat-chip{
        font-size: 0.6em;
        margin: 2em 1em;
      }
    }
  }