<app-dialog-nav></app-dialog-nav>
<div class="bg-title">All skills</div>
<div class="container">
    <div class="skills-list-all">
        <div class="skills-list-cat" *ngFor="let category of skills">
            <div class="skills-cat-title">{{category.title}}</div>
            <mat-chip-list>
                <mat-chip *ngFor="let skill of category.SubSkills">{{skill}}</mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <div class="uni-modules">
        <div class="title">Uni Modules</div>
        <div class="modules-list">
            <div class="module" *ngFor="let uniModule of uniModules">{{uniModule}}</div>
        </div>
        <mat-icon>expand_more</mat-icon>
    </div>
</div>
