@import "../../assets/variables";

mat-form-field{
    margin: 0 0.5em;
    width: auto;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: left;
}
.bg-text{
  position: absolute;
  top: 0.2em;
  left: -0.1em;
  font-weight: bold;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  //font-family: 'Londrina Outline';
  font-size: 12em;
  color: $c-base-dark;
  //transform: rotate(-10deg);
  opacity: 0.1;
  z-index: 2;
  color: $c-bg;
  text-shadow:
  -2px -2px 0 $c-base-light,  
   2px -2px 0 $c-base-light,
   -2px 2px 0 $c-base-light,
    2px 2px 0 $c-base-light,
  -1px -1px 0 $c-base-light,  
   1px -1px 0 $c-base-light,
   -1px 1px 0 $c-base-light,
    1px 1px 0 $c-base-light;
}
.cnt{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .top{
    width: 100%;
    .title{
      color: $c-base-dark;
      font-size: 5em;
      font-weight: 800;
      line-height: 1.5em;
      text-align: center;
      filter: brightness(0) saturate(100%) invert(88%) sepia(9%) saturate(1765%) hue-rotate(107deg) brightness(96%) contrast(87%);
    }
    .desc{
      color: $c-base-light;
      font-weight: 800;
      font-size: 2.5em;
      line-height: 1.5em;
      width: 100%;
      text-align: center;
    }
  }
  .contact-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .left{
        transform: scale(1.5);
        padding: 3em;
        .filler-text{
        }
        .contact-textarea{
            width: 100%;
            margin: 0;
            margin-top: -2em;
            text-align: left;
            resize: none;
            #ctextarea{
                min-height: 1.3em;
                line-height: 150%;
                max-height: 20em;
            }
        }
        }
        button{
            color: $c-bg;
            font-weight: 800;
            background: transparent;
            width: 18rem;
            height: 6rem;
            padding: 0;
            display: block;
            position: relative;
            *{
              font-size: 1.1rem;
            }
            .button-text{
              margin: 0;
              padding: 0;
              .main{
                clip-path:polygon(15% 15%, 95% 7%, 85% 95%, 5% 90%);
                background: $c-base-light;
                width: 18rem;
                line-height: 6rem;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 1.3em;
              }
              &:before{
                content: "";
                clip-path: polygon(7% 25%, 85% 0%, 92% 90%, 12% 100%);
                background: $c-base-dark;
                position: absolute;
                top: 0;
                left: 0;
                width: 18rem;
                height: 6rem;
              }
            }
          }
  }
  footer{
    width: 100;
    .right{
        padding: 1em;
        .sub-title{
            padding: 1em;
        }
        .socials{
            display: flex;
            .social{
                position: relative;
                width: 2em;
                height: 2em;
                margin: 1em;
                filter: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(413%) hue-rotate(81deg) brightness(106%) contrast(106%);
                transition: all 0.2s ease;
                .layer1{
                    position: absolute;
                    width: 100%;
                    filter: grayscale(100%);
                }
                &:hover{
                    filter: none;
                    .layer1{
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
    .footer{
        text-align: center;
    }
}
}
.input-tester, .textarea-tester{
    position: absolute;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2px 0;
    z-index: -10;
    opacity: 0;
    top: -5em;
    left: -5em;
    line-height: 150%;
}