@font-face {
  font-family: 'Portico-Regular';
  src: url('Portico-Regular.eot');
  src: url('Portico-Regular.eot?#iefix') format('embedded-opentype'),
       url('Portico-Regular.svg#Portico-Regular') format('svg'),
       url('Portico-Regular.ttf') format('truetype'),
       url('Portico-Regular.woff') format('woff'),
       url('Portico-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

