@use "sass:map";
@import "../../assets/variables";

#my-skills-background{
    background: $c-text;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: fixed;
    z-index: 1101;
}
mat-chip-list mat-chip{
    transform: scale(1.2);
    padding: 1em;
    z-index: 1;
    margin: 2em;
    font-weight: 800;
    background: $c-text;
}
.bg-text{
    display: none;
    position: absolute;
    top: 0.2em;
    left: -0.1em;
    font-weight: bold;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    font-size: 12em;
    color: $c-base-dark;
    opacity: 0.1;
    z-index: -1;
    color: $c-bg;
    text-shadow:
    -2px -2px 0 $c-base-light,  
     2px -2px 0 $c-base-light,
     -2px 2px 0 $c-base-light,
      2px 2px 0 $c-base-light,
    -1px -1px 0 $c-base-light,  
     1px -1px 0 $c-base-light,
     -1px 1px 0 $c-base-light,
      1px 1px 0 $c-base-light;
  }
  .cnt{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    .top{
      width: 80%;
      margin-top: -3em;
      .title{
        color: transparent;
        font-size: 4em;
        font-weight: 800;
        line-height: 1.5em;
        overflow: hidden;
        white-space: nowrap;
        width: min-content;
        background: $c-text-gradient;
        background-clip: text;
        display: inline-block;
        p{
          font-size: 1em;
        }
      }
      .desc{
        color: $c-base-light;
        font-weight: 800;
        font-size: 2em;
        line-height: 1.5em;
        overflow: hidden;
        white-space: nowrap;
        p{
          font-size: 1em;
        }
      }
    }
    .skills{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0em 1em;
      margin-top: 5em;
      width: 100%;
      *{
        font-size: 1rem;
      }
      .skill{
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(1.3);
        z-index: 20;
        &.angular{
          .bg, .bg2, .bg3{
            clip-path: url(#skillBgPath);
            top: 10%;
            left: 0%;
          }
          .bg { background: linear-gradient(5deg, rgba(0,204,187,1) 0%, rgba(0,255,234,1) 100%); }
          .bg2{ background: linear-gradient(5deg, rgba(223,26,255,1) 0%, rgba(227,54,255,1) 100%); transform: rotate(-10deg); }
          .bg3{ background: linear-gradient(5deg, rgba(255,211,144,1) 0%, rgba(255,211,144,1) 100%); transform: rotate(-20deg); }
        }
        &.nodejs{
          .bg, .bg2, .bg3{
            clip-path: url(#skillBgPath);
            top: -5%;
            left: -10%;
          }
          .bg { background: linear-gradient(-85deg, rgba(0,204,187,1) 0%, rgba(0,255,234,1) 100%); transform: rotate(100deg); }
          .bg2{ background: linear-gradient(-85deg, rgba(223,26,255,1) 0%, rgba(227,54,255,1) 100%); transform: rotate(90deg); }
          .bg3{ background: linear-gradient(-85deg, rgba(255,211,144,1) 0%, rgba(255,211,144,1) 100%); transform: rotate(80deg); }
        }
        &.php{
          .bg, .bg2, .bg3{
            clip-path: url(#skillBgPath);
            top: 10%;
            left: 5%;
          }
          .bg { background: linear-gradient(65deg, rgba(0,204,187,1) 0%, rgba(0,255,234,1) 100%); transform: rotate(-50deg); }
          .bg2{ background: linear-gradient(65deg, rgba(223,26,255,1) 0%, rgba(227,54,255,1) 100%); transform: rotate(-60deg); }
          .bg3{ background: linear-gradient(65deg, rgba(255,211,144,1) 0%, rgba(255,211,144,1) 100%); transform: rotate(-70deg); }
        }
        .skill-top{
          position: relative;
          width: min-content;
          height: min-content;
          .bg{
            mix-blend-mode: hard-light;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 3;
          }
          .bg2{
            mix-blend-mode: screen;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
          }
          .bg3{
            mix-blend-mode: screen;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
          }
          img{
            width: 8em;
            z-index: 4;
            position: relative;
            margin: 1em;
            transition: all 0.2s ease;
            &:hover{
              transform: scale(1.1);
            }
          }
        }
        mat-chip-list mat-chip{
          transform: scale(1.1);
          padding: 1em;
          z-index: 1;
          margin: 4em;
          font-weight: 800;
          background: $c-text;
        }
      }
    }
    .other-skills{
      width: 100%;
      display: flex;
      justify-content: center;
      mat-chip-list{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        .mat-chip-list-wrapper{
          position: relative;
          width: 100vw;
          height: 100vh;
        }
      }
      mat-chip-list mat-chip{
        background: transparent;
        color: $c-base-dark;
        border: 1px solid $c-base-dark;
        position: absolute;
        transition: opacity 0.4s ease;
        &:nth-child(1){ bottom: 40%;  left: 50%; transform: rotate(5deg);    opacity: 0.1; }
        &:nth-child(2){ bottom: 40%;  left: 0%;  transform: rotate(5deg);    opacity: 0.3; }
        &:nth-child(3){ bottom: 80%;  left: 10%;  transform: rotate(15deg)    scale(1.3);   opacity: 0.3; }
        &:nth-child(4){ bottom: 50%;  left: 20%;  transform: rotate(-15deg)   scale(1.5);   opacity: 0.3; }
        &:nth-child(5){ bottom: 90%;  left: 30%;  transform: rotate(10deg);   opacity: 0.2; }
        &:nth-child(6){ bottom: 50%;  left: 40%;  transform: rotate(-10deg);  opacity: 0.2; }
        &:nth-child(7){ bottom: 100%; left: 50%;  transform: rotate(5deg);    opacity: 0.25; }
        &:nth-child(8){ bottom: 80%;  left: 60%;  transform: rotate(-5deg);   opacity: 0.1; }
        &:nth-child(9){ bottom: 40%;  left: 70%;  transform: rotate(15deg);   opacity: 0.2; }
        &:nth-child(10){ bottom: 80%; left: 50%; transform: rotate(-10deg)   scale(1.5);  opacity: 0.3; }
        &:hover{
          opacity: 0.7;
        }
      }
      button{
        color: $c-bg;
        font-weight: 800;
        background: transparent;
        width: 18rem;
        height: 6rem;
        padding: 0;
        display: block;
        position: relative;
        transition: transform 0.2s ease;
        *{
          font-size: 1.2rem;
        }
        &:hover{
          transform: scale(1.1);
          opacity: 1;
          .button-text{
            &:before{
              transform: rotate(-5deg);
            }
          }
        }
        .button-text{
          margin: 0;
          padding: 0;
          .main{
            clip-path: url(#buttonBg1);
            background: $c-button-gradient;
            width: 18rem;
            line-height: 6rem;
            position: absolute;
            top: 0%;
            left: 0;
            font-size: 1.3em;
            transition: clip-path 0.2s ease;
          }
          &:before{
            content: "";
            clip-path: url(#buttonBg2);
            background: $c-button-gradient-inverted;
            position: absolute;
            top: -7%;
            left: 0;
            width: 18rem;
            height: 7rem;
            transition: transform 0.2s ease;
          }
        }
      }
    }
  }

  swiper{
    display: none;
  }

  // Mobile Portrait
  @media screen and (min-width: map.get($mobileP, "min")) and (max-width: map.get($mobileP, "max")){
    svg{
      path.skillBgPath{
        transform: scale(0.247);
      }
      path.buttonBg1, path.buttonBg2{
        transform: scale(1.14);
      }
    }
    swiper{
      display: block;
    }
    .cnt{
      position: absolute;
      top: 0;
      left: 0;
      justify-content: space-evenly;
      .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .title{
          text-align: center;
          line-height: 180%;
          p{
            font-size: 1em;
            width: 100vw;
          }
        }
        .desc{
          white-space: pre-wrap;
          text-align: center;
          font-size: 1.7em;
          p{
            font-size: 1em;
            padding-left: 1em;
            padding-right: 1em;
            width: 100vw;
          }
        }
      }
      #swiperCarousel{
        width: 100vw;
        height: auto;
        .swiper-slide{
          .skill{
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 20;
            width: min-content;
            margin: auto;
            &.angular{
              .bg, .bg2, .bg3{
                clip-path: url(#skillBgPath);
                top: 10%;
                left: 0%;
              }
              .bg { background: linear-gradient(5deg, rgba(0,204,187,1) 0%, rgba(0,255,234,1) 100%); }
              .bg2{ background: linear-gradient(5deg, rgba(223,26,255,1) 0%, rgba(227,54,255,1) 100%); transform: rotate(-10deg); }
              .bg3{ background: linear-gradient(5deg, rgba(255,211,144,1) 0%, rgba(255,211,144,1) 100%); transform: rotate(-20deg); }
            }
            &.nodejs{
              .bg, .bg2, .bg3{
                clip-path: url(#skillBgPath);
                top: -5%;
                left: -10%;
              }
              .bg { background: linear-gradient(-85deg, rgba(0,204,187,1) 0%, rgba(0,255,234,1) 100%); transform: rotate(100deg); }
              .bg2{ background: linear-gradient(-85deg, rgba(223,26,255,1) 0%, rgba(227,54,255,1) 100%); transform: rotate(90deg); }
              .bg3{ background: linear-gradient(-85deg, rgba(255,211,144,1) 0%, rgba(255,211,144,1) 100%); transform: rotate(80deg); }
            }
            &.php{
              .bg, .bg2, .bg3{
                clip-path: url(#skillBgPath);
                top: 10%;
                left: 5%;
              }
              .bg { background: linear-gradient(65deg, rgba(0,204,187,1) 0%, rgba(0,255,234,1) 100%); transform: rotate(-50deg); }
              .bg2{ background: linear-gradient(65deg, rgba(223,26,255,1) 0%, rgba(227,54,255,1) 100%); transform: rotate(-60deg); }
              .bg3{ background: linear-gradient(65deg, rgba(255,211,144,1) 0%, rgba(255,211,144,1) 100%); transform: rotate(-70deg); }
            }
            .skill-top{
              position: relative;
              width: min-content;
              height: min-content;
              .bg{
                mix-blend-mode: hard-light;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 3;
              }
              .bg2{
                mix-blend-mode: screen;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
              }
              .bg3{
                mix-blend-mode: screen;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
              }
              img{
                width: 14em;
                z-index: 4;
                position: relative;
                margin: 1em;
                transition: all 0.2s ease;
                &:hover{
                  transform: scale(1.1);
                }
              }
            }
            mat-chip-list mat-chip{
              transform: scale(1.3);
              transform-origin: top;
              padding: 1em;
              z-index: 1;
              margin: 4em;
              font-weight: 800;
              background: $c-text;
            }
          }
        }
      }
      .skills{
        display: none;
      }
      .other-skills{
        mat-chip-list{
          top: -3em;
          left: -30%;
        }
        button{
          width: 100%;
          height: auto;
          margin: 1em;
          margin-bottom: 2em;
          .button-text{
            .main{
              clip-path: none;
              border-radius: 3rem;
              width: 100%;
              line-height: 4.5rem;
            }
            &:before{
              clip-path: none;
              border-radius: 3rem;
              width: 100%;
              line-height: 4.5rem;
              top: 3px;
              left: 3px;
              height: 4.5rem;
            }
          }
        }
      }
    }
  }