// Colours

$c-bg: #001427;
$c-text: #c5fffe;
$c-base-light: #acfdd9;
$c-base-dark: #5dd9c1;
$c-accent1: #ffd390;
$c-accent2: #df1aff;
$c-accent3: #00b895;

// Functions

$cur: '"assets/cur.png", auto';