// Colours

$c-bg: #001427;
$c-text: #c5fffe;
$c-base-light: #acfdd9;
$c-base-dark: #5dd9c1;
$c-accent1: #ffd390;
$c-accent2: #df1aff;
$c-accent3: #00b895;
$c-text-gradient: linear-gradient(5deg, rgba(121,126,247,1) 26%, rgba(0,255,206,1) 59%);
$c-button-gradient: linear-gradient(15deg, #797ef7 0%, #00ffce 59%);
$c-button-gradient-inverted: linear-gradient(205deg, #797ef7 0%, #00ffce 59%);

// Breakpoints
$mobileP: ('min': 0px, 'max': 480px);
$mobileL: ('min': 481px, 'max': 899px);

// Functions

$cur: '"assets/cur.png", auto';